seerep_grpc==0.3.1
pycocotools
fast-coco-eval
tritonclient[all]==2.17.0
grpcio==1.53.2
imutils
colorlog
scipy
requests
torchvision==0.15.2
torch==2.0.1
# 3D inference with OpenPCDet 
# pyquaternion
# easydict
# kornia
# av2
# spconv-cu118
# tqdm
# pyyaml
# visualization 
# open3d==0.18.0
# opencv-python==4.7.0.72
# opencv-contrib-python==4.7.0.72
